<div class="formcontainer">
    <form [formGroup]="log.formLogGroup">
        <label for="name">Full Name</label>
        <input formControlName="nameControl" [(ngModel)]="log.name" type="text"><br>
        <div class="error" *ngIf="log.formLogGroup.dirty" [hidden]="!(hasError('required','nameControl'))">
            Name is required
        </div>
        <label for="email">Email</label>
        <input formControlName="emailControl" [(ngModel)]="log.email" type="text" ><br>
        <div class="error" *ngIf="log.formLogGroup.dirty" [hidden]="!(hasError('required','emailControl'))">
            Email is required
        </div>
        <div class="error" *ngIf="log.formLogGroup.dirty" [hidden]="!(hasError('email','emailControl'))">
            Email is Not Valid
        </div>
        <label for="typeOfVisit">Select Type of Visit</label>
        <select [(ngModel)]="log.typeOfVisit" formControlName="typeOfVisitControl">
            <option *ngFor="let type of typeOfVisit" value="{{type}}">{{type}}</option>
        </select>
        <br>
        <div class="error" *ngIf="log.formLogGroup.dirty" [hidden]="!(hasError('required','typeOfVisitControl'))">
            Type Of Visit is required
        </div>

        <label for="personToVisitControl">Person To Visit</label>
        <input formControlName="personToVisitControl" [(ngModel)]="log.personToVisit" type="text"><br>
        <div class="error" *ngIf="log.formLogGroup.dirty" [hidden]="!(hasError('required','personToVisitControl'))">
            Persone To Visit isrequired
        </div>

        <label for="dateOfEntry">Date Of Entry</label>
        <input [ngModelOptions]="{standalone: true}" [disabled]="true" [ngModel]="log.dateOfEntry" type="date"><br>

        <label for="timeOfEntry">Time Of Entry</label>
        <input formControlName="timeOfEntryControl" [(ngModel)]="log.timeOfEntry" type="time"><br>
        <div class="error" *ngIf="log.formLogGroup.dirty" [hidden]="!(hasError('required','timeOfEntryControl'))">
            Time Of Entry is required
        </div>

        <label for="timeOfExit">Time Of Exit</label>
        <input formControlName="timeOfExitControl" [(ngModel)]="log.timeOfExit" type="time"><br>
        <div class="error" *ngIf="log.formLogGroup.dirty" [hidden]="!(hasError('required','timeOfExitControl'))">
            Time Of Exit is required
        </div>
        <input [disabled]="!(log.formLogGroup.valid)" type="button" (click)="Save()" value="Save"><br>
    </form>
</div>