<!-- <div *ngFor="let article of articles" class="card">
    <h2>{{article.title}}</h2>
    <h5>{{article.description}}, {{article.publishedAt | date}}</h5>
    <div class="fakeimg" style="height:200px;"><img src="{{article.urlToImage}}" alt="Image"></div>
    <p>Some text..</p>
    <p>{{article.content}}</p>
    <p><i>{{article.author}}</i></p>
</div> -->

<div *ngFor="let article of articles" class="row">
    <div class="column">
        <div class="card">
            <div class="head">
                <h2>{{article.title}}</h2>
                <h5>{{article.description}}</h5>
            <img src="{{article.urlToImage}}" alt="Image">

            </div>

            <p>{{article.content}}</p>
            <p><i>{{article.author}}, {{article.publishedAt | date}}</i><a href="{{article.url}}" target="_blank"> Vist Site</a></p>
            
        </div>
    </div>
</div>
